# Node modules
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.*.local
.env.local

# Firebase local files
.firebase/
firestore.indexes.json
firestore.rules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel deployment files
.vercel/

# MacOS system files
.DS_Store
